#
# Copyright (C) 2022 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

on early-boot
    mkdir /mnt/vendor/persist/factory 0775 system system
    mkdir /mnt/vendor/persist/factory/audio 0775 system system

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -d /vendor/lib/modules audio_aw88258_4pa
